
   body{
        background: url("../img/background.jpg") top left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
   footer{
       position:relative !important;
       width: 100%;
       bottom:0 !important;
   }

   pre{
        overflow-x: auto;
    }
   pre::-webkit-scrollbar-thumb{
       -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
   }

/*--內帘间隔--*/
   .m-padding-tb-mini{
       padding-top:0.2em !important;
       padding-bottom:0.2em !important;/*--优先级--*/
   }
   .m-padding{
       padding: 1em !important;
   }
   .m-padding-tb-big{
       padding-top: 3em !important;
       padding-bottom: 3em !important;
   }
   .m-padding-tb-large{
       padding-top: 4em !important;
       padding-bottom: 4em !important;
   }
   .m-padding-tb-massive{
       padding-top: 5em !important;
       padding-bottom: 5em !important;
   }
    .m-padding-label{
        padding: 0.3em;
    }
   .m-padding-blog-big{
       padding: 3em !important;
       padding: 3em !important;
   }
   .m-padding-lr-responsive{
       padding-left: 4em;
       padding-right: 4em;
   }
   .m-padding-label-mini{
       padding: 0.4em !important;
   }

    /*--外帘间隔--*/
   .m-margin-tb-tiny{
       margin-top: 0.3em !important;
       margin-bottom: 0.3em !important;
   }
    .m-margin-top-small{
        margin-top: 0.5em !important;
    }
   .m-margin-bottom-small{
        margin-bottom: 0.5em !important;
   }


   /*----字体------*/
   .m-text{
       font-weight: 300 !important;
       letter-spacing:1px !important;
       line-height: 1.8;
   }
   .m-text-thin{
       font-weight: 300 !important;
   }
   .m-text-spaced{
       letter-spacing:1px !important;
   }
   .m-text-lined{
       line-height: 1.8;
   }
   .m-text-num-spaced{
       letter-spacing:0;
   }
   .m-black-a {
        color: #333;
   }

   /*--------行内块-----------*/
   .m-inline-block{
       display: inline-block !important;
   }
   /*------二维码------------*/
    .m-info-img-size{
        width: 12em;

    }
    /*关于我*/
   .m-about-img-size{

       width: 800px;
   }
    /*--------头像-----------*/
   .m-label-img-size{
       width: 100em;
       height: 100em;
   }
    /*阴影*/
   .m-shadow-small{
       -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
       box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
   }
   .m-container-big{
       max-width: 96em !important;
       margin: auto !important;
   }
   .m-container{
       max-width: 78em !important;
       margin: auto !important;
   }
   .m-container-small{
       max-width: 60em !important;
       margin: auto !important;
   }

   .m-top-right{
       position: absolute;
       top:0;
       right: 0;
   }

    .m-mobile-show{
        display: none !important;
    }


   @media screen and (max-width: 768px){
       .m-mobile-hide{
           display: none !important;
       }
       .m-mobile-show{
           display: block !important;
       }
       .m-padding-lr-responsive{
           padding-left: 0 !important;
           padding-right: 0 !important;
       }
       .m-mobile-cl-clear{
           padding-left: 0 !important;
           padding-right: 0 !important;
       }
       .m-mobile-wide {
           width:100% !important;
       }
   }
   /****透明度****/
   .m-opacity-mini{
       opacity: 0.8 !important;
   }
   .m-opacity-tiny{
       opacity: 0.6 !important;
   }
    /****position*****/
   .m-fixed{
       position:fixed !important;
   }
   .m-right-bottom{
       bottom:0 !important;
       right: 0 !important;
   }
   .m-Toplevel{
       z-index: 1 !important;
   }

   .m-table-overflow{
       width: 131px !important;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
   }






