<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale-1.0">  <!-- 宽屏适应-->
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<!--导航 -->
<nav th:replace="_fragment :: menu(1)" class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
    <!--利用semantic ui/颜色反向/四角贴紧/区域块/自定义css（上下间距）-->
    <div class="ui container"><!--定义容器，实现网格-->
        <div class="ui inverted secondary stackable menu"><!--//间距-->
            <h2 class="ui teal header item">Blog</h2><!--///条目化-->
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tasks icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
            <div class="right item m-item m-mobile-hide">
                <div class="ui large icon inverted transparent input">
                    <input type="text" placeholder="Serch...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button menu toggle m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 主体 -->
<div class="m-padding-tb-large m-container">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左正文（博客主板）-->
            <div class="eleven wide column">
                <!--正文头 -->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block" th:text="${page.totalElements}"> 14 </h2> 篇
                        </div>
                    </div>
                </div>

                <!--正文-->
                <div class="ui attached segment">
                    <div class="ui vertical segment m-padding-blog-big" th:each="blog : ${page.content}" th:if="${blog.published}">
                        <div class="ui mobile aligned reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="" class="m-black-a"
                                                         th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}"
                                                         target="_blank">优秀文章摘抄</a></h3>
                                <p class="m-text" th:text="|${blog.description}....|">
                                    月光在不断徘徊，时光在不断期待，可以看到沧海桑田，可以看到那些交错而过的情缘，也可以看到岁月里面的缠绵，
                                    也可以看到时光的容颜，在不断呼唤，也可以拥抱着那些....
                                <div class="ui stackable grid">
                                    <div class="row m-padding-label-mini">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="../static/img/timg.jpg" th:src="@{${blog.user.avatar}}"
                                                         alt="" class="ui avatar image m-label-img-size">
                                                    <div class="content"><a href="#" class="header"
                                                                            th:text="${blog.user.nickname}">王瑞</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span
                                                        th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-07-06</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span th:text="${blog.views}">1245</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}"
                                               class="ui teal label m-padding-label"
                                               th:text="${blog.type.name}">认知升级</a>
                                        </div>
                                    </div>
                                    <div class="row m-padding-label-mini">
                                        <div class="column ">
                                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"
                                               class="ui basic teal left pointing label m-padding-label-mini"
                                               th:each="tag : ${blog.tags}" th:text="${tag.name}">c++</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="../static/img/profession.jpg" th:src="@{${blog.firstPicture}}" alt=""
                                         style="height: 120px;" class="ui rounded image ">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--正文脚-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}"
                               class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}"
                               class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--右浮动-->
            <div class="five wide column">
                <!--右分类-->
                <div class="ui segment">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tasks icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日记</span>
                                <div class="ui teal label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!--右标签-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">springboot</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">14</div>
                        </a>
                    </div>
                </div>

                <!--最新动态-->
                <div class="ui segment m-margin-top-small">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>最新动态
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}" th:if="${blog.published && blog.recommend}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="m-black-a m-text-thin" target="_blank"
                           th:text="${blog.title}">用户故事</a>
                    </div>
                </div>
                <!--二维码-->
                <H4 class="ui teal horizontal divider header">扫码关注我</H4>
                <div class="ui centered card " style="width: 12em">
                    <img src="../static/img/路飞.jpg" th:src="@{/img/路飞.jpg}" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- foot -->
<footer th:replace="_fragment :: footer"
        class="ui inverted vertical segment m-padding-tb-massive m-text-lined m-text-spaced ">
    <div class="ui center aligned container">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="ui item">
                        <img src="../static/img/二维码.png" th:src="@{/img/二维码.png}" class="ui rounded image" alt="">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list m-opacity-mini">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list m-opacity-mini m-text-num-spaced">
                    <a href="#" class="item"><i class="mail icon"></i>863159885@qq.com</a>
                    <a href="#" class="item"><i class="qq icon"></i>863159885</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <p class=" m-opacity-mini">用户故事,用户故事,用户故事,用户故事,用户故事,用户故事,用户故事,用户故事</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-opacity-tiny">@2020 Designed by wangrui</p>
    </div>

</footer>

<!--/*/<th:block th:replace="_fragment :: script">/*/-->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>

</body>
</html>